/*==================
 SERVICES SECTION
====================*/

#aa-about-us {
  display: inline;
  float: left;
  width: 100%;
}
#aa-about-us .aa-about-us-area {
  display: inline;
  float: left;
  width: 100%;
  padding: 100px 0;
}
#aa-about-us .aa-about-us-area .aa-about-us-left {
  display: inline;
  float: left;
  width: 100%;
}
#aa-about-us .aa-about-us-area .aa-about-us-left img {
  width: 100%;
}
#aa-about-us .aa-about-us-area .aa-about-us-right {
  display: inline;
  float: left;
  width: 100%;
}
#aa-about-us .aa-about-us-area .aa-about-us-right ul {
  margin-left: 30px;
}
#aa-about-us .aa-about-us-area .aa-about-us-right ul li {
  font-style: italic;
  list-style: circle;
  margin-bottom: 5px;
}
.aa-title {
  display: inline;
  float: left;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}
.aa-title p {
  font-size: 18px;
  padding: 0 50px;
}
.aa-title span {
  width: 2px;
  height: 15px;
  display: inline-block;
  position: relative;
}
.aa-title span:before {
  content: '';
  right: 4px;
  top: 7px;
  position: absolute;
  width: 100px;
  height: 2px;
}
.aa-title span:after {
  content: '';
  left: 4px;
  top: 7px;
  position: absolute;
  width: 100px;
  height: 2px;
}
