// Import page-specific CSS files here.
// I commented bc I don't have home at the moment
@import "home";
@import "form";
@import "dashboard";

.banner-services {
  background-size: auto;
  background-position: center;
  padding: 150px 0;
  height:400px;
}

