<div class="banner-services" style="background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url(<%= image_path "banner.jpg", alt: "alttext" %>);">
  <section id="aa-slider">
      <div class="aa-slider-area">
        <!-- Top slider -->
        <div class="aa-top-slider">
            <div class="aa-top-slider-single">
              <div class="aa-top-slider-content" style="text-align: center; position: initial;">
                <!-- <h1 class="aa-top-slider-title">Les Services</h1> -->
              </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End slider  -->
</div>
