    <footer id="aa-footer">
      <div class="container">
        <div class="row">
          <div class="aa-footer-area">
            <div class="row">
              <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="aa-footer-left">
                 <p><a class="navbar-brand aa-logo" href="#"><i class="fab fa-accessible-icon"></i> Human<span>BnB</span></a></p>
                </div>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="aa-footer-middle">
                  <a href="#"><i class="fab fa-github"></i></a>
                  <a href="#"><i class="fab fa-instagram"></i></a>
                  <a href="#"><i class="fab fa-facebook"></i></a>
                  <a href="#"><i class="fab fa-twitter"></i></a>
                  <a href="#"><i class="fab fa-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
