<div class="notification">
  <img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' class="avatar-large"/>
  <div class="notification-content">
    <h4 class="author-name"><strong>Korben</strong> </h4>
    <p><small>14th January, 2019</small></p>
    <p class="small">Lorem ipsum dolor sit amet, <strong>consectetur</strong> adipisicing elit.</p>
  </div>

  <div>
    <i class="fas fa-star" style="color: #Fb0;"></i>
    <i class="fas fa-star" style="color: #Fb0;"></i>
    <i class="fas fa-star" style="color: #Fb0;"></i>
    <i class="fas fa-star" style="color: #Fb0;"></i>
    <i class="fas fa-star" style="color: lightgray;"></i>
  </div>
</div>

<div class="notification">
  <img src='https://avatars3.githubusercontent.com/u/43504407?v=4' class="avatar-large"/>
  <div class="notification-content">
    <h4 class="author-name"><strong>Natalia</strong> </h4>
    <p><small>14th January, 2019</small></p>
    <p class="small">Lorem ipsum dolor sit amet, <strong>consectetur</strong> adipisicing elit.</p>
  </div>

  <div>
    <i class="fas fa-star" style="color: #Fb0;"></i>
    <i class="fas fa-star" style="color: #Fb0;"></i>
    <i class="fas fa-star" style="color: #Fb0;"></i>
    <i class="fas fa-star" style="color: #Fb0;"></i>
    <i class="fas fa-star" style="color: #Fb0;"></i>
  </div>
</div>
<div class="notification">
  <img src='https://avatars0.githubusercontent.com/u/45876591?v=4' class="avatar-large"/>
  <div class="notification-content">
    <h4 class="author-name"><strong>François</strong> </h4>
    <p><small>14th January, 2019</small></p>
    <p class="small">Lorem ipsum dolor sit amet, <strong>consectetur</strong> adipisicing elit.</p>
  </div>

  <div>
    <i class="fas fa-star" style="color: #Fb0;"></i>
    <i class="fas fa-star" style="color: #Fb0;"></i>
    <i class="fas fa-star" style="color: #Fb0;"></i>
    <i class="fas fa-star" style="color: lightgray;"></i>
    <i class="fas fa-star" style="color: lightgray;"></i>
  </div>
</div>
<div class="notification">
  <img src='https://avatars0.githubusercontent.com/u/22600529?v=4' class="avatar-large"/>
  <div class="notification-content">
    <h4 class="author-name"><strong>Eléonore</strong> </h4>
    <p><small>14th January, 2019</small></p>
    <p class="small">Lorem ipsum dolor sit amet, <strong>consectetur</strong> adipisicing elit.</p>
  </div>

  <div>
    <i class="fas fa-star" style="color: #Fb0;"></i>
    <i class="fas fa-star" style="color: #Fb0;"></i>
    <i class="fas fa-star" style="color: #Fb0;"></i>
    <i class="fas fa-star" style="color: #Fb0;"></i>
    <i class="fas fa-star" style="color: #Fb0;"></i>
  </div>
</div>

