<div class="col-md-8">
  <div class="aa-comments-area">
    <h2>Que pensez-vous de ce service ?</h2>
      <%= simple_form_for([@service, @review]) do |f| %>
        <%= f.input :rating, collection: [ 0, 1, 2, 3, 4, 5]  %>
        <%= f.input :content %>
        <%= f.submit "Submit your review", class: "btn aa-secondary-btn" %>
      <% end %>
    </div>
    <div class="comments">
      <ul class="commentlist">
        <li>
          <div class="media">
            <div class="media-left">
                <img alt="img" src="https://pbs.twimg.com/profile_images/1082151402590404609/Sm0Z64vt_400x400.jpg" class="media-object news-img">
            </div>
            <div class="media-body">
             <h4 class="author-name">Korben</h4>
             <span class="comments-date"> 20th April, 2016</span>
             <p>Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English</p>
             <a class="reply-btn" href="#">Reply</a>
            </div>
          </div>
        </li>
        <li>
          <div class="media">
            <div class="media-left">
                <img alt="img" src="https://pbs.twimg.com/profile_images/1095308827862417409/F0y7YQrp_400x400.jpg" class="media-object news-img">
            </div>
            <div class="media-body">
             <h4 class="author-name">John Smith</h4>
             <span class="comments-date"> 20th April, 2016</span>
             <p>Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English</p>
             <a class="reply-btn" href="#">Reply</a>
            </div>
          </div>
        </li>
        <ul class="children">
          <li class="author-comments">
            <div class="media">
              <div class="media-left">
                  <img alt="img" src="https://avatars0.githubusercontent.com/u/22600529?v=4" class="media-object news-img">
              </div>
              <div class="media-body">
               <h4 class="author-name">Admin</h4>
               <span class="comments-date"> 20th April, 2016</span>
               <span class="author-tag">Author</span>
               <p>Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English</p>
               <a class="reply-btn" href="#">Reply</a>
              </div>
            </div>
          </li>
          <ul class="children">
            <li>
              <div class="media">
                <div class="media-left">
                    <img alt="img" src="https://avatars0.githubusercontent.com/u/45876591?v=4" class="media-object news-img">
                </div>
                <div class="media-body">
                 <h4 class="author-name">Adam Barney</h4>
                 <span class="comments-date"> 20th April, 2016</span>
                 <p>Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English</p>
                 <a class="reply-btn" href="#">Reply</a>
                </div>
              </div>
            </li>
          </ul>
        </ul>
        <li>
          <div class="media">
            <div class="media-left">
                <img alt="img" src="https://avatars3.githubusercontent.com/u/43504407?v=4" class="media-object news-img">
            </div>
            <div class="media-body">
             <h4 class="author-name">Jhon Smith</h4>
             <span class="comments-date"> 20th April, 2016</span>
             <p>Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English</p>
             <a class="reply-btn" href="#">Reply</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
