<div class="container text-center">
  <h1>HumanBnb</h1>
  <div class="banner">

  </div>
  <div class="aa-advance-search-area">
    <form action="">
      <div class="row">
        <div class="col-md-4">
          <div class="aa-advance-search-area">
            <input type="text" id="test" placeholder="Chercher une prestation">
          </div>
        </div>
          <div class="col-md-2">
            <div class="aa-advance-search-area">
              <input type="text" class="select-search" placeholder="Catégorie">
            </div>
          </div>
           <div class="col-md-2">
            <div class="aa-advance-search-area">
              <input type="text" class="select-search" placeholder="Type d'évènements">
            </div>
          </div>
           <div class="col-md-2">
            <div class="aa-advance-search-area">
              <input type="text" class="select-search" placeholder="Calendrier">
            </div>
          </div>
        <div class="col-md-2">
          <div class="aa-advance-search-area">
            <input type="submit" class="aa-search-btn" value="Search">
          </div>
        </div>
      </div>
    </form>
  </div>
  <h2>Découvrez ce que les humains peuvent faire pour vous</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid voluptas accusantium quidem quos velit a cum totam ut tenetur eius tempora sint, dolores, impedit nisi accusamus non. Delectus iusto, maiores.</p>
</div>
