/*==================
  ADVANCE SEARCH SECTION
====================*/

#aa-advance-search{
  display: inline;
  float: left;
  width: 100%;
  .aa-advance-search-area{
    background-color: rgba(221, 221, 221, 0.8);
    border-radius: 10px 10px 0 0;
    display: inline;
    float: left;
    margin-top: -100px;
    min-height: 200px;
    padding: 25px 20px;
    position: relative;
    width: 100%;
    .aa-advance-search-top{
      display: inline;
      float: left;
      width: 100%;
      .aa-single-advance-search{
        display: inline;
        float: left;
        width: 100%;
        input[type="text"]{
          border: 1px solid #fff;
          border-radius: 2px;
          color: #555;
          height: 40px;
          padding: 5px;
          width: 100%;
          font-size: 18px;
        }
        select{
          border: 1px solid #fff;
          border-radius: 2px;
          color: #555;
          height: 40px;
          padding: 5px;
          width: 100%;
        }
        .aa-search-btn{
          border: medium none;
          border-radius: 5px;
          color: #fff;
          font-size: 18px;
          font-weight: bold;
          height: 40px;
          outline: medium none;
          text-transform: uppercase;
          width: 100%;
        }
      }
    }
    .aa-advance-search-bottom{
      display: inline;
      float: left;
      width: 100%;
      margin-top: 50px;
      .aa-single-filter-search{
        display: inline;
        float: left;
        width: 100%;
        text-align: center;
        span{
          display: inline-block;
          font-family: $heading-font;
          margin: 0 10px;
        }
        .noUi-connect {
          box-shadow: 0 0 3px rgba(51, 51, 51, 0.45) inset;
          transition: background 450ms ease 0s;
        }
        .noUi-handle {
          border: none;
          border-radius: 50%;
          box-shadow: none;
          height: 25px;
          left: -17px;
          top: -12px;
          width: 25px;
          &:after,
          &:before{
            display: none;
          }
        }
      }
    }
  }
}
