.aa-comments-area{
  display: inline;
  float: left;
  width: 100%;
  margin-top: 20px;
  h3{
    margin-bottom: 20px;
  }
  .comments{
    float: left;
    display: inline;
    width: 100%;
    .commentlist {
      li {
        border-bottom: 1px solid #f8f8f8;
        display: inline;
        float: left;
        margin-bottom: 15px;
        padding: 10px;
        position: relative;
        width: 100%;
          .news-img{
            background-color: #ccc;
          border-radius: 50%;
          height: 90px;
          margin-right: 20px;
          width: 90px;
          }
          .media-body{
            .author-name{
              margin-bottom: 0px;
              margin-top: 0;
            }
          }
          .comments-date {
          color: #888;
          display: block;
          font-size: 14px;
          margin-bottom: 10px;
        }
        .reply-btn {
          border-bottom: 1px solid #ccc;
          color: #555;
          display: inline-block;
          font-size: 15px;
          line-height: 13px;
          padding: 8px 0;
          position: absolute;
          right: 0;
          top: 0;
          @include transition(all 0.5s);
          &:hover,
          &:focus{
            text-decoration: none;
            outline: none;
          }
        }
        .children{
          margin-left: 50px;
        }
        .author-tag {
          color: #fff;
          display: inline-block;
          font-size: 12px;
          font-weight: bold;
          margin-bottom: 5px;
          padding: 4px 6px;
        }
        .author-comments{
          background-color: #f8f8f8;
        }
      }
      .children{
        margin-left: 25px;
      }
    }

    .comments-pagination{
      display: inline-block;
      text-align: left;
    }
    .comments-pagination li{
      display: inline-block;
    }
    .comments-pagination li a {
      border: none;
      color: #555;
      display: inline-block;
      font-size: 15px;
      height: 30px;
      line-height: 15px;
      padding: 5px;
      text-align: center;
      width: 30px;
      @include transition(all 0.5s);
      &:hover,
      &:focus{
        background-color: transparent;
        text-decoration: none;
        outline: none;
      }
    }
    .commentlist>li:last-child{
      margin-bottom: 0px;
    }
  }
}
#respond {
  display: inline;
  float: left;
  margin-top: 25px;
  width: 100%;
  .reply-title {
    font-size: 25px;
    margin-top: 0;
  }
  .comment-notes {
    font-size: 15px;
    margin-bottom: 25px;
  }
  .required{
    color: red;
  }
  label{
    display: block;
  }
  input[type="text"],
  input[type="email"],
  input[type="url"] {
    border: none;
    border-bottom: 1px solid #ccc;
    color: #555;
    margin-bottom: 10px;
    height: 35px;
    padding: 5px;
    width: 65%;
    @include transition(all 0.5s);
  }

  textarea {
    border: none;
    border-bottom: 1px solid #ccc;
    color: #555;
    margin-bottom: 5px;
    padding: 10px;
    height: 100px;
    width: 100%;
    @include transition(all 0.5s);
  }
  .form-submit input {
    background-color: transparent;
    border: 1px solid #ccc;
    color: #555;
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px;
    padding: 6px 12px;
    @include transition(all 0.5s);
  }
}

