/*==================
DISCOVER SERVICES SECTION
====================*/

#aa-latest-property {
  background-color: #f8f8f8;
  display: inline;
  float: left;
  width: 100%;
  padding: 60px 0;
}
#aa-latest-property .aa-latest-property-area {
  display: inline;
  float: left;
  width: 100%;
}
#aa-latest-property .aa-latest-property-area .aa-latest-properties-content {
  display: inline;
  float: left;
  margin-top: 20px;
  width: 100%;
}
.aa-properties-item {
  display: inline;
  float: left;
  margin-top: 30px;
  width: 100%;
  position: relative;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.aa-properties-item:hover {
  box-shadow: 1px 2px 5px 3px #ccc;
}
.aa-properties-item .aa-properties-item-img {
  width: 100%;
}
.aa-properties-item .aa-properties-item-img img {
  width: 100%;
}
.aa-properties-item .aa-tag {
  color: #fff;
  padding: 6px 10px;
  position: absolute;
  left: 15px;
  top: -15px;
}
.aa-properties-item .for-rent {
  background-color: #20ceb3;
}
.aa-properties-item .sold-out {
  background-color: #ff0000;
}
.aa-properties-item .aa-properties-item-content {
  background-color: #fff;
  border: 1px solid #ddd;
  border-top: none;
  display: inline;
  float: left;
  width: 100%;
}
.aa-properties-item .aa-properties-item-content .aa-properties-info {
  border-bottom: 1px solid #ddd;
  display: inline;
  float: left;
  padding: 10px;
  width: 100%;
  text-align: left;
}
.aa-properties-item .aa-properties-item-content .aa-properties-info span {
  margin: 0px 5px;
  font-size: 14px;
}
.aa-properties-item .aa-properties-item-content .aa-properties-about {
  display: inline;
  float: left;
  width: 100%;
  height: 130px;
  padding: 10px;
}
.aa-properties-item .aa-properties-item-content .aa-properties-about h3 {
  margin-top: 0px;
  font-size: 24px;
}
.aa-properties-item .aa-properties-item-content .aa-properties-about h3 a {
  margin-top: 0px;
  color: #333;

}
.aa-properties-item .aa-properties-item-content .aa-properties-about p {
  font-size: 14px;
}
.aa-properties-item .aa-properties-item-content .aa-properties-detial {
  border-top: 1px solid #ddd;
  display: inline;
  float: left;
  padding: 10px;
  width: 100%;
}
.aa-properties-item .aa-properties-item-content .aa-properties-detial .aa-price {
  float: left;
  font-size: 18px;
  padding: 3px 0;
}
.aa-properties-item .aa-properties-item-content .aa-properties-detial a {
  float: right;
}

